{:blocks (
{:block/content "<iframe src=\"https://desmos.com/calculator\" style=\"width: 100%; height: 600px\"></iframe>"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"}
:block/parent 
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"}
:block/properties 
{}
:block/uuid #uuid "68325a67-f6c2-4f40-a489-361d50fcfb09"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68325a67-f6c2-4f40-a489-361d50fcfb09"}
:block/parent 
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"}
:block/properties 
{}
:block/uuid #uuid "68325ccc-054c-408f-b09e-54d898e0398a"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68325ccc-054c-408f-b09e-54d898e0398a"}
:block/parent 
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"}
:block/properties 
{}
:block/uuid #uuid "68325d91-24d5-4a0d-a81e-21892f05b40e"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68325d91-24d5-4a0d-a81e-21892f05b40e"}
:block/parent 
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"}
:block/properties 
{}
:block/uuid #uuid "68325f59-99d3-4ff5-ba98-09e259498736"})
:pages (
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68325a5b-1af6-466e-9b02-a875d507daf8"
:name "curriculum compare"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/updated-at 1748131950361
:block/created-at 1748130395715
:block/type "whiteboard"
:block/name "curriculum compare"
:block/original-name "curriculum compare"})}