{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"}
:block/parent 
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"}
:block/properties 
{}
:block/uuid #uuid "68325a67-f6c2-4f40-a489-361d50fcfb09"} 
{:block/created-at 1748130810892
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "68325a67-f6c2-4f40-a489-361d50fcfb09"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [544 40.90090684780907]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5a41a8b0-38f9-11f0-902a-55a3112759b4"
:noFill false
:point [136 88]
:parentId "68325a5b-1af6-466e-9b02-a875d507daf8"
:collapsedHeight 0
:nonce 1748130406286}}
:block/updated-at 1748130810892})
:pages (
{:block/uuid #uuid "68325a5b-1af6-466e-9b02-a875d507daf8"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68325a5b-1af6-466e-9b02-a875d507daf8"
:name "curriculum compare"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("5a41a8b0-38f9-11f0-902a-55a3112759b4")}}
:block/updated-at 1748130851159
:block/created-at 1748130395715
:block/type "whiteboard"
:block/name "curriculum compare"
:block/original-name "curriculum compare"})}